/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}
h2{
  color: black;
}
p{
  color: white;
}
/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.content {
  position: relative;
  z-index: 1;
}

nav, section {
  margin: 20px;
  color: #333;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

/* Video Background */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#bg-video {
  min-width: 100%;
  min-height: 100%;
}

/* Google Colab iframe */
iframe {
  width: 100%;
  height: 600px;
  border: none;
}
.navi{
  background-color: black;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
a{
  color: white;
}
.a:hover{
  color: antiquewhite;
}
.head{
  color: white;
  font-family: sans-serif;
}
header{
  background-color: black;
  text-align: center;
}